objects
build_*/
linkfile.m4
api.asm
api.h
api.banks
src/fcbanner.asm
fcsdk.linkfile
FC/BIN
/fcsdk
build.sh
.ycm_extra_conf.py
compile_commands.json
.cache
.clangd
.vscode
copyToPc.sh
FCMD.DSK
execplan-*.md
*.zip
